$base-color: #333;          //black
$bg-color: #fff;            //white

$link-color: #0061A6;       //blue
$post-link-color: #53d2bc;  //turquoise
$home-link-color: #fff;     //white



$header-color: #fff;        //white
$header-btm-color: #999;    //gray 
$bar-color:  #187D99;       //green
$bar-buttons: #1A8BAB;   

$nav-color: #fff;           //white
$nav-item-color: #FFF;   //white
$nav-color-hover: #AAA0F6;  //
$nav-font-color: #1E326A;   //blue


$post-info-color: #999;     //gray 


$sidebar-color: #fff;    //white
$widgets-zone-color: #362F47; // violet
$widget-bg-color: #efefef;  //matte
$widget-head-color: #fff;   //white

$comment-panel-color: #fff;

$footer-color:  #187D99;       //green
         


